# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Eclipse & NetBeans & VS Code (Gereksizler ama kalsın) ---
.classpath
.project
.settings/
.vscode/
bin/
nbproject/
nbbuild/

# --- İşletim Sistemi ---
.DS_Store
Thumbs.db

# --- ÖZEL GİZLİ DOSYALAR (EN ÖNEMLİSİ) ---
config.properties